{% extends 'membership/base.html' %}

{% block title %}
Problems
{% endblock %}

{% block nav %}
{% with nav_selection='problems' %}
{{ block.super }}
{% endwith %}
{% endblock %}

{% block content_title %}
Puzzle list
{% endblock %}

{% block content %}
<table class="table table-bordered table-hover">
	<thead>
		<td width=60%>Name</td>
		<td width=20%>Start</td>
		<td width=20%>End</td>
	</thead>
	{% for problem in problems %}
	{% if problem.is_active %}
	<tr style="font-weight:bold">
	{% else %}
	<tr>
	{% endif %}
		<td>
			<a href="{% url 'problems.views.problem' problem.code %}">{{ problem.name }}</a>
		</td>
		<td>{{ problem.start }}</td>
		<td>{{ problem.end }}</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}
