{% extends 'membership/base.html' %}

{% block title %}
Problems
{% endblock %}

{% block nav %}
{% with nav_selection='problem' %}
{{ block.super }}
{% endwith %}
{% endblock %}

{% block content_title %}
{{ problem.name }}
{% endblock %}

{% block content %}
{% if score != -1 %}
<h1 class="text-{% if score > 0%}success{% else %}error{% endif %}">You scored {{ score }} point{% if score != 1 %}s{% endif %}.</h1>
<br/>
	{% if invalid_names%}
		<h4 class="text-error">Invalid usernames submitted:</h4>
		<ul>
		{% for name in invalid_names %}
			<li>{{name}}</li>
		{% endfor %}
		</ul>
	{% endif %}
{% endif %}
{% if badUsernames %}
Invalid usernames: {{ badUsernames }}
<br/>
{% endif %}
{{ problem.body|safe }}
{{ forms.errors }}
<form method="POST" action="."> {% csrf_token %}
	<div>
		{{ form }}
	</div>
	<div>
		<input type="submit" class="btn btn-success"/>
	</div>
</form>
{% endblock %}
