/*******************************************************
****	Main Styles
*******************************************************/

@font-face {
    font-family: 'Butterfly';
    src: url('../fonts/butterfly/madame_butterfly_by_tetramegistus-webfont.eot');
    src: url('../fonts/butterfly/madame_butterfly_by_tetramegistus-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/butterfly/madame_butterfly_by_tetramegistus-webfont.woff') format('woff'),
         url('../fonts/butterfly/madame_butterfly_by_tetramegistus-webfont.ttf') format('truetype'),
         url('../fonts/butterfly/madame_butterfly_by_tetramegistus-webfont.svg#madame_butterflyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {

	overflow-y:scroll;
	

	background: rgba(219,243,250,1);
	/*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FjZTRmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE1JSIgc3RvcC1jb2xvcj0iI2RiZjNmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg1JSIgc3RvcC1jb2xvcj0iI2RiZjNmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhY2U0ZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(172,228,242,1) 0%, rgba(219,243,250,1) 15%, rgba(219,243,250,1) 85%, rgba(172,228,242,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(172,228,242,1)), color-stop(15%,rgba(219,243,250,1)), color-stop(85%,rgba(219,243,250,1)), color-stop(100%,rgba(172,228,242,1)));
	background: -webkit-linear-gradient(top,  rgba(172,228,242,1) 0%,rgba(219,243,250,1) 15%,rgba(219,243,250,1) 85%,rgba(172,228,242,1) 100%);
	background: -o-linear-gradient(top,  rgba(172,228,242,1) 0%,rgba(219,243,250,1) 15%,rgba(219,243,250,1) 85%,rgba(172,228,242,1) 100%);
	background: -ms-linear-gradient(top,  rgba(172,228,242,1) 0%,rgba(219,243,250,1) 15%,rgba(219,243,250,1) 85%,rgba(172,228,242,1) 100%);
	background: linear-gradient(to bottom,  rgba(172,228,242,1) 0%,rgba(219,243,250,1) 15%,rgba(219,243,250,1) 85%,rgba(172,228,242,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ace4f2', endColorstr='#ace4f2',GradientType=0 );*/
}

body {

	font-family: "Arial", "Helvetica", sans-serif;
	margin:0;
	padding:0;
}

.main-content {

	width:900px;
	background:white;
	margin:0 auto;
	box-shadow: 0px 0px 25px 3px #B2CFDD;
}

.link {

	font-size:20px;
	font-family: "Butterfly", Arial;
	color:#00B3DF;
	display:inline-block;
	text-decoration:none;
	-webkit-transition:all 1s;
}

.link h3 {

	margin: 15px 0 0 0;
	text-decoration:none;
}

.link:hover h3 {

	text-decoration:underline;
}

hr {

	width: 86%;
	margin-top: 0;
	margin-bottom: 0;
	border-bottom: dashed 2px #999;
	border-top: none;
}

h2 {

	font-family: "Butterfly", Arial;
	font-size: 28px;
	color:#888;
	display:inline-block;
}

h3 {

	font-family: "Butterfly", Arial;
	font-size: 20px;
	color:#888;
	display:inline-block;
}

h4 {

	font-family:"Butterfly", Arial;
	font-size:22px;
	color:#00B3DF;
}

h5 {

	font-family:"Butterfly", Arial;
	font-size:16px;
	color:#00B3DF;
}

article {

	padding: 20px 20px 20px 40px;
	width: 60%;
}

p {

	font-size:16px;
	color:#777;
	font-family: Arial;
	margin: 15px;
	line-height: 22px;
}

.hide {

	display: none;
}

/*******************************************************
****	Header Styles
*******************************************************/

header {

	width:inherit;
	height: 170px;
	background: #A2E7F8;
	font-family:inherit;
	position:relative;
}

header span {

	float:right;
	margin-right: 30px;
	font-family: Arial;
	position: relative;
	top: 114px;
}

header span a {

	text-decoration:none;
	font-family:inherit;
	color:#777;
}

header span a:hover h3 {

	text-decoration: underline;
}

header span h3 {

	display:inline-block;
	font-family:inherit;
	font-weight:100;
	font-size: 18px;
}

#acm-diamond-logo {

	float:left;
	width: 170px; 
	height: 170px;
	margin-left: 10px;
}

#acm-logo {

	float:left;
	text-decoration: none;
	width: 315px;
	font-family:inherit;
	margin: 35px 0 0 20px;
	text-shadow: 2px 0px 3px #5097B3;
}

#acm-logo h1 {

	width:400px;
	font-size: 70px;
	

	color: #17ABE2;
	font-weight: 100;
	margin:0;
	text-shadow:inherit;
	filter:inherit;
}

#acm-logo b {

	color:white;
}

#acm-logo p {

	color: white;
	padding-left: 5px;
	font-size: 18px;
	margin:0;
	text-shadow:inherit;
	filter:inherit;
}

/*******************************************************
****	Nav Bar Styles
*******************************************************/

nav {

	font-family: "Butterfly", Arial;
	height:35px;
	background:#00B3DF;
}

nav a {

	text-decoration: none;
	font-size:24px;
	color:white;
	line-height: 33px;
	margin: 0 41px;
}

nav a.selected {

	color:#546265;
}

/*******************************************************
****	Home Tab Styles
*******************************************************/

#photo-slide {

	height:260px;
	width:inherit;
	position:relative;
	overflow:hidden;
}

#photo-slide img {

	position:absolute;
	height:260px;
	width:900px;
	left:0; /* Fixes firefox bug */
}

#photo-slide img.above {

	bottom:260px;
}

#photo-slide #photo-info {

	height: 200px;
	width: 180px;
	float:left;
	background-color:rgba(255,255,255,0.7);
	border-radius:6px;
	box-shadow: 0px 0px 7px 18px rgba(255, 255, 255, 0.7);
	margin: 28px 0 0 40px;
	position: relative;
}

#photo-slide #photo-info p {

	color:black;
	font-size:18px;
	text-align:center;
}

#photo-slide .photo-nav {

	height:inherit;
	width:5%;
	background-color:rgba(255,255,255,0.7);
	display:inline-block;
	float:right;
	transition: background-color 1s;
	-moz-transition: background-color 1s; /* Firefox 4 */
	-webkit-transition: background-color 1s; /* Safari and Chrome */
	-o-transition: background-color 1s; /* Opera */
	-ms-transition: background-color 1s;
	position: relative;

}

#photo-slide .photo-nav:hover {

	 background-color:rgba(255,255,255,0.8);
	 cursor:pointer;
}

#photo-slide img + .photo-nav {

	float:left;
}

#photo-slide img + .photo-nav img {

	transform: rotate(-90deg);
	-ms-transform: rotate(-90deg); /* IE 9 */
	-webkit-transform: rotate(-90deg); /* Safari and Chrome */
	-o-transform: rotate(-90deg); /* Opera */
	-moz-transform: rotate(-90deg); /* Firefox */
}

#photo-slide .photo-nav img {

	height:30px;
	width: 50px;
	margin-top: 107px;
	margin-left: 5px;
	transform: rotate(90deg);
	-ms-transform: rotate(90deg); /* IE 9 */
	-webkit-transform: rotate(90deg); /* Safari and Chrome */
	-o-transform: rotate(90deg); /* Opera */
	-moz-transform: rotate(90deg); /* Firefox */

}

#extra-nav {

	height: 63px;
}

#extra-nav .link{

	margin: 0 70px;
}

#real-acm {
    
    width:85px;
    height:85px;
    position: relative;
    top: 11px;
    margin-right: 10px;

}


/*******************************************************
****	Sponsorship Styles
*******************************************************/

.sponsor-container{

	min-height: 400px;
}

.sponsor-container li {

	color:#888;
}


.title {

	padding: 4px;
	margin-left: 20px;
}

.sponsor-container h3{

	padding: 1px;
	margin: 0 auto;
	font-size:18px;
}

.sponsor-container > div{

	padding: 4px;
	margin-left: 5px;
	width: 90%;
	margin: 0 auto;
}

.sponsor-container h3:hover{

	color:#777;
	text-decoration: underline;
}

#current-contributors {

	margin-bottom:40px;
	text-align: center;
}

#current-contributors h4{

	display:block;
	text-align:left;
	padding-left: 40px;
}

#current-contributors img {

	display:inline-block;
	margin:20px;
	

	max-height: 175px;
	

	max-width: 300px;
	

	vertical-align: top;

}

.less-defined {
	font-style: italic;
	color: rgb(168, 168, 168);
}

/*******************************************************
****	Events Styles
*******************************************************/

#calendar {

	padding: 50px;
}

#calendar a {

	text-decoration: none;
	color:#777;
	font-family:Arial;
	font-size:20px;
	margin-bottom:20px;
}

#calendar a:hover {

	text-decoration: underline;
}

#calendar iframe {

	margin-top:20px;
}

#icpc {

	padding: 50px;
}

/*******************************************************
****	Members Styles
*******************************************************/

.officer {

    display: inline-block;
    width: 45%;
    margin: 20px;
    height:275px;
    vertical-align: top;
}

.move-right {

	margin-left:20px;
}

.move-right:hover {

	cursor:pointer;
}

.officers{
	padding: 20px;
}

.officer img {

    width: 150px;
    height: 150px;
    float: left;
    margin-right: 10px;
    border-radius:10px;
}

.officer h5 {

    margin-top: 0;
    margin-bottom: 10px;
}

.officer h3 {

    display: block;
    margin: 0;
}

.officer h3 + h3 {

    margin-bottom: 5px;
    font-size: 17px;
    font-family: Arial;
}

.officer p {

    font-size: 14px;
    line-height: 18px;
    margin: 2px 5px 0 0;
}

.members span {

    text-align: center;
    width: 100%;
    padding-left: 35px;
    font-family: "Butterfly", Arial;
    color:#ACE4F2;
}

.members span label {

    display: inline-block;
    margin: 0 10px;
    font-family: inherit;
}

.members label a {

	color: inherit;
	font-size: 22px;
}

.members h3 {

	margin-left:20px;
}

.member a {

	color: #00B3DF;
	font-size: 20px;
	margin: 5px 0 5px 30px;
	text-transform: capitalize;
}

.drop-arrow {
	display: inline-block;
	background: rgba(219,243,250,1);
	border-radius: 40px;
	padding: 5px;
	width: 27px;
	text-align: center;
	line-height: 29px;
	transform: rotate(180deg);
	-ms-transform: rotate(180deg); /* IE 9 */
	-webkit-transform: rotate(180deg); /* Safari and Chrome */
	-o-transform: rotate(180deg); /* Opera */
	-moz-transform: rotate(180deg); /* Firefox */

	transition: all 0.3s;
	-moz-transition: all 0.3s; /* Firefox 4 */
	-webkit-transition: all 0.3s; /* Safari and Chrome */
	-o-transition: all 0.3s; /* Opera */
	-ms-transition: all 0.3s; /* Opera */
}

.rotate {
	transform: rotate(0deg);
	-ms-transform: rotate(0deg); /* IE 9 */
	-webkit-transform: rotate(0deg); /* Safari and Chrome */
	-o-transform: rotate(0deg); /* Opera */
	-moz-transform: rotate(0deg); /* Firefox */
}

.nosite {

	cursor:default;
	text-decoration: none;
}

/*******************************************************
****	Footer Styles
*******************************************************/
footer {

	color: #00B3DF;
	font-family: "Butterfly", Arial;
	text-align:center;
}

footer .gallery {

	padding-bottom:10px;
}

footer .copyright {

	line-height:40px;
	background-color: #DDDDDD;
	height: 40px;
	width: 900px;
}
