{% extends 'dashboard/base.html' %}

{% block title %}
Member List
{% endblock %}

{% block nav %}
{% with nav_selection='points' %}
{{ block.super }}
{% endwith %}
{% endblock %}

{% block content_title %}
Member List
{% endblock %}

{% block css %}
<style type="text/css">
	.point-button {
		width: 80%;
	}
	.point-button:focus {
			outline: none;
	}
	.table td {
		text-align: center;
		vertical-align: middle;
	}
</style>
{% endblock %}

{% block content %}
<div class="control-group">
	<input id="name_search" type="text" class="span3 search-query" style="margin-bottom:5px" placeholder="Search for name..."/>
	<table id="attendence_table" class="table table-bordered"/>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
	var rows = [
		{% for attendance in attendances %}
		{
			name: "{{ attendance.member.user.get_full_name|escapejs }}",
			points: {{ attendance.points }},
			pk: {{ attendance.pk }}
		}
		{% if not forloop.last %}, {% endif %}
		{% endfor %}
	].map(function(datum) {
		var jqXHR;
		return {
			name: datum.name,
			dom: $('<tr/>').append(
				$('<td/>').text(datum.name)
			).append(
				[
					{val:0, text: '0 pts'},
					{val:1, text: '1 pts'},
					{val:2, text: '2 pts'},
					{val:3, text: '3 pts'},
				].map(function(option) {
					var button = $('<button class="btn point-button' + (datum.points == option.val ? ' btn-info' : '') + '"/>')
						.text(option.text)
						.click(function() {
							jqXHR && jqXHR.abort();
							var old = $(this).parent().siblings().children('button.btn-info').removeClass('btn-info'),
								new_ = $(this).addClass('btn-info').css({'opacity':.5});
							$.ajax(location.href, {
								type: 'POST',
								data: {
									attendance_pk: datum.pk,
									points: option.val
								},
								error: function() {
									old.addClass('btn-info');
									new_.removeClass('btn-info');
								},
								complete: function() {
									jqXHR = undefined;
									new_.css({'opacity':''});
								}
							});
						});
					return $('<td width="15%"/>').append(button);
				})
			)
		};
	});
	function refreshTable() {
		var keys = $('#name_search').val().toLowerCase().split();
		var table = $('#attendence_table');
		table.empty();
		rows.forEach(function(row) {
			row = row.toLowerCase();
			if(keys.every(function(key) {
					return row.name.indexOf(key) >= 0;
				})) {
				table.append(row.dom);
			}
		});
	}
	$('#name_search').on('input', refreshTable);
	refreshTable();
</script>
{% endblock %}
