{% extends 'base.html' %}
{% block nav %}
	<li class="{% ifequal nav_selection 'register' %}active{% endifequal %}">
		<a href="{% url membership.views.new_member %}">Register</a>
	</li>
	<li class="{% ifequal nav_selection 'login' %}active{% endifequal %}">
		<a href="{% url django.contrib.auth.views.login %}">Login</a>
	</li>
	<li class="{% ifequal nav_selection 'profile' %}active{% endifequal %}">
		<a href="{% url membership.views.edit_member %}">My Profile</a>
	</li>
	<li class="{% ifequal nav_selection 'membership' %}active{% endifequal %}">
		<a href="{% url membership.views.enrollment %}">My Membership</a>
	</li>
	<li class="{% ifequal nav_selection 'signin' %}active{% endifequal %}">
		<a href="{% url membership.views.signin %}">Meeting Sign In</a>
	</li>
{% endblock %}
