{% extends 'membership/base.html' %}

{% block title %}
Attendance
{% endblock %}

{% block nav %}
{% with nav_selection='signin' %}
{{ block.super }}
{% endwith %}
{% endblock %}

{% block content_title %}
Sign in for meeting
{% endblock %}

{% block content %}
{% if form.errors %}
<div class="accordion-inner">
	<div style="width:30em;margin-left:6em;margin-right:6em;color:#FF0000">
	{{ form.errors }}
	</div>
</div>
{% endif %}
{% if success %}
Thanks for coming, {{ success }}.
{% endif %}
<form action="{{ request.url }}" method="post" class="form-horizontal center-block" style="width:350px"> {% csrf_token %}
	<div style="width:30em;margin-left:4em;">
		<div class="form-group">
			<label class="control-label" for="id_username">Username:</label>
			&nbsp;
			{{ form.username }}
		</div>
		<div class="form-group">
			<label class="control-label" for="id_meeting">Meeting:</label>
			&nbsp;
			{{ form.meeting }}
		</div>
	</div>
	<button class="btn btn-primary center-block" type="submit">I was here!</button>
</form>
{% endblock %}
