<div id="photo-slide">
	<img src="{{photo}}">
	<div class="photo-nav" ng-click="clickBar('left')">
		<!-- <img src="img/home-page-photo-nav/arrow.png"> -->
	</div>
	<div class="photo-nav" ng-click="clickBar('right')">
		<!-- <img src="img/home-page-photo-nav/arrow.png"> -->
	</div>
</div>
<nav class="secondary">
  <a href="/membership/new_user/">Become A Member</a>
  <a href="https://byu.az1.qualtrics.com/SE/?SID=SV_6zJ7hI69IJP90DH">Sign up for the Hackathon!</a>
  <a href="#/contributors">Sponsor Us</a>
</nav>
<div align="middle" style="margin-top: 20px">
  <img src="flyers/HackathonWinter2016.png" width="750px" />
</div>
<article>
</article>
