<div id="photo-slide">
	<img src="{{photo}}">
	<div class="photo-nav" ng-click="clickBar('left')">
		<!-- <img src="img/home-page-photo-nav/arrow.png"> -->
	</div>
	<div class="photo-nav" ng-click="clickBar('right')">
		<!-- <img src="img/home-page-photo-nav/arrow.png"> -->
	</div>
</div>
<nav class="secondary">
  <a href="/membership/new_user/">Become A Member</a>
  <a href="#/contributors">Sponsor Us</a>
  <a href="https://goo.gl/forms/jZ6PW4oSSxAHA4Ne2">Recruitment Dinner RSVP</a>
</nav>
<div align="middle" style="margin-top: 20px">
	<object data="flyers/acm_opening_social_fall_2016.pdf" type="application/pdf" width="600" height="815">
		alt : <a href="flyers/acm_opening_social_fall_2016.pdf">acm_opening_social_fall_2016.pdf</a>
	</object>
</div>
