<h4 class="move-right" ng-click="toggleOfficers()" title="Click to toggle Officers">BYU ACM Officers <div class="officer-arrow drop-arrow">^</div></h4>
<div class="officers">

	<div class="officer">
		<h3>Mario Garcia</h3>
		<h3>President</h3>
		<img src="img/officer/web/mario.jpg">
		<h5>Officer Bio</h5>
		<p>
			Mario is a Sophmore in the Computer Science program. Currently he is working for the Living Scriptures College Program. Some of his personal projects are developing iOS applications and learning JavaScript. As the publicity coordinator for ACM, he is looking for individuals that want to get involved and make BYU ACM one of the best known clubs at BYU.
		</p>
	</div>

	<div class="officer">
		<h3>Mike Brodie</h3>
		<h3>Vice President</h3>
		<img src="img/officer/web/mike.jpg">
		<h5>Officer Bio</h5>
		<p>
			Mike is a Master's student studying Computer Science. He researches in the Neural Network and Machine Learning Lab - and plans to pursue a Ph.D. upon graduation. In his free time, Mike loves building web apps, composing music, and reading up on the latest technologies.
		</p>
	</div>

	<div class="officer">
		<h3>Connor Smith</h3>
		<h3>Publicity Coordinator</h3>
		<img src="img/officer/web/connor.jpg">
		<h5>Officer Bio</h5>
		<p>
			Connor is a Junior in the Computer Engineering program and is minoring in Computer Science and Mathematics. He currently works as a software engineer at Lucid Software. He has a passion for all things electrical, especially computer architecture and programming. As a Publicity Coordinator, he is responsible for reaching out to potential new members of ACM and keeping current members informed on upcoming events.
		</p>
	</div>

	<div class="officer">
		<h3>Keith Halterman</h3>
		<h3>Sponsorship Officer</h3>
		<img src="img/officer/web/keith.jpg">
		<h5>Officer Bio</h5>
		<p>
			Keith is a senior in the Computer Science Program. He loves software projects. He has worked with the ME department to develop a multi-user CAD prototype for Boeing, and with a team of friends to create registerBYU.com. Last semester he taught a special topics, competitive programing class. As the sponsorship officer he is always looking for opportunities to provide students with exposure to great tech companies. 

		</p>
	</div>

	<div class="officer">
		<h3>Sydeny Shen</h3>
		<h3>Treasurer</h3>
		<img src="img/officer/web/sydney.jpg">
		<h5>Officer Bio</h5>
		<p>
			Sydney Shen is a junior/senior in computer science program. She is Taiwanese and is currently interning in Domo Inc. She is Treasurer for ACM.

		</p>
	</div>
	
	<div class="officer">
		<h3>Kevin Reece</h3>
		<h3>Meeting Coordinator</h3>
		<img src="img/officer/web/kevin.jpg">
		<h5>Officer Bio</h5>
		<p>
			Kevin is a Junior studying Computer Science with a minor in Business Management. He was in the BYU Mechanical Engineering program until he took his first programming class and decided computer software was his true passion. He works as a TA for CS 428 - Software Engineering, which teaches the importance of the non-technical aspects of software creation. After he graduates, Kevin will pursue a double Master's degree in Software Engineering and Business Administration. He hopes to eventually make a living as a Software Consultant.

		</p>
	</div>

	<div class="officer">
		<h3>Jeremy Oborn</h3>
		<h3>Officer</h3>
		<img src="img/officer/web/jeremy.jpg">
		<h5>Officer Bio</h5>
		<p>
			Jeremy is a senior studying computer science. He loves programming and especially enjoys writing 3D computer graphics applications. He is also a pretty chill dude. You should hang out and play video games with him sometime. 

		</p>
	</div>

	<div class="officer">
		<h3>Josh Parsons</h3>
		<h3>Officer in Training</h3>
		<img src="img/officer/web/josh.jpg">
		<h5>Officer Bio</h5>
		<p>
			I am currently a sophomore majoring in Computer Science.  I am an officer in training for ACM. I am interested in becoming a better programmer and developing the skills that I need to make the latest and newest technological advances in the world.

		</p>
	</div>



	<div class="officer">
		<h3>Derek Argueta</h3>
		<h3>Officer in Training</h3>
		<img src="img/officer/web/derek.jpg">
		<h5>Officer Bio</h5>
		<p>
			Derek is a sophomore in the Computer Science program and currently works at Verisage doing custom mobile apps. He is currently focusing on iOS, Android, and Django Python development with a sprinkle of AngularJS for web apps. He loves attending Hackathons and is always looking for a travel buddy. He looks forward to serving the ACM club and bringing the BYU CS department to a new level.

		</p>
	</div>






	<div class="officer">
		<h3>Scott Blanch</h3>
		<h3>Web Master</h3>
		<img src="img/officer/web/scott.jpg">
		<h5>Officer Bio</h5>
		<p>
			Scott is a Senior in the Bioinformatics major and minoring in Computer Science. He currently works as Managing Director at World Tech Academy. His passions involve producing elegant code as well as enhancing user experience. As Web Master, Scott maintains the ACM site. 
		</p>
	</div>
</div>
<br><br>
<hr>
<h4 class="move-right" title="Click to toggle members" ng-click="toggleMembers()">Current Members <div class="member-arrow drop-arrow">^</div></h4>
<div class="members">
	<span>[
		<label ng-repeat="object in members" ng-class='{hide: object.people.length == 0}'>
			<a ng-click="scrollTo(this)">{{object.letter}}</a>
		</label>
		]
	</span>
	<div class="member-letter" ng-repeat="object in members">
		<h3 id="jump-{{object.letter}}" ng-class="{hide: object.people.length == 0}">{{object.letter}}</h3>
		<div class="member" ng-repeat="member in object.people">
			<a target='_blank' href="{{member.website}}" ng-class="{nosite: member.website == ''}">{{member.last_name}}, {{member.first_name}}</a>
		</div>
	</div>
</div>