<h4 class="move-right" ng-click="toggleOfficers()" title="Click to toggle Officers">BYU ACM Officers <div class="officer-arrow drop-arrow">^</div></h4>
<div class="officers">

	<div class="officer">
		<h3>Mario Garcia</h3>
		<h3>President</h3>
		<img src="img/officer/web/mario.jpg">
		<h5>Officer Bio</h5>
		<p>
			Mario is a Sophmore in the Computer Science program. Currently he is working for the Living Scriptures College Program. Some of his personal projects are developing iOS applications and learning JavaScript. As the publicity coordinator for ACM, he is looking for individuals that want to get involved and make BYU ACM one of the best known clubs at BYU.
		</p>
	</div>

	<div class="officer">
		<h3>Mike Brodie</h3>
		<h3>Treasurer</h3>
		<img src="img/officer/web/mike.jpg">
		<h5>Officer Bio</h5>
		<p>
			Mike is a grad student studying Computer Science. Currently, Mike is the Treasurer for ACM—and handles the chapter’s budget and finances.
		</p>
	</div>

	<div class="officer">
		<h3>Connor Smith</h3>
		<h3>Publicity Coordinator</h3>
		<img src="img/officer/web/connor.jpg">
		<h5>Officer Bio</h5>
		<p>
			Connor is a Junior in the Computer Engineering program and is minoring in Computer Science and Mathematics. He currently works as a software engineer at Lucid Software. He has a passion for all things electrical, especially computer architecture and programming. As a Publicity Coordinator, he is responsible for reaching out to potential new members of ACM and keeping current members informed on upcoming events.
		</p>
	</div>

	<div class="officer">
		<h3>Scott Blanch</h3>
		<h3>Web Master</h3>
		<img src="img/officer/web/scott.jpg">
		<h5>Officer Bio</h5>
		<p>
			Scott is a Senior in the Bioinformatics major and minoring in Computer Science. He currently works as Managing Director at World Tech Academy. His passions involve producing elegant code as well as enhancing user experience. As Web Master, Scott maintains the ACM site. 
		</p>
	</div>
</div>
<br><br>
<hr>
<h4 class="move-right" title="Click to toggle members" ng-click="toggleMembers()">Current Members <div class="member-arrow drop-arrow">^</div></h4>
<div class="members">
	<span>[
		<label ng-repeat="object in members" ng-class='{hide: object.people.length == 0}'>
			<a ng-click="scrollTo(this)">{{object.letter}}</a>
		</label>
		]
	</span>
	<div class="member-letter" ng-repeat="object in members">
		<h3 id="jump-{{object.letter}}" ng-class="{hide: object.people.length == 0}">{{object.letter}}</h3>
		<div class="member" ng-repeat="member in object.people">
			<a target='_blank' href="{{member.website}}" ng-class="{nosite: member.website == ''}">{{member.last_name}}, {{member.first_name}}</a>
		</div>
	</div>
</div>