{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>BYU ACM</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="{% static 'images/icons/acm_logo.ico' %}">

		<link href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'byuacm/css/byuacm.css' %}" rel="stylesheet">
		{% block css %}{% endblock %}
	</head>

	<body>
		<div class="container">

			<div class="navbar navbar-default">
				<div class="container-fluid">

					<div class="navbar-header">
						<a class="navbar-brand" style="color:#3355FF;" href="http://acm.byu.edu">
							BYU ACM
						</a>
					</div>

					<ul class="nav navbar-nav navbar-right">
						{% block nav %}{% endblock %}
					</ul>
				</div> 	<!-- /.container-fluid -->
			</div>

		  <div class="container" style="width:48em;">
				<div style="margin:5px">
					{% if user.is_authenticated %}
					<p class="text-center">
						You are logged in as {{ user.username }} ({{ user.get_full_name }}).
						{% if user.is_staff %}
						- <a href="/membership/">Public Site</a>
			  			- <a href="/dashboard/">Dashboard</a>
			  			{% endif %}
						- <a href="{% url 'membership.views.logout' %}" >Logout</a>
					</p>
					{% endif %}
				</div>
				<h2 class="title text-center">
					{% block content_title %}{% endblock %}
				</h2>
				{% block content %}{% endblock %}
			</div>
		</div>
	    
		<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
		<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
		{% block javascript %}{% endblock %}
	</body>
</html>
